%p
  #notice= notice
%p
  %strong Title:
  = @post.title
%p
  %strong Body:
  = @post.body
= link_to 'Edit', edit_post_path(@post)
|
= link_to 'Back', posts_path

%div
  #comments
    = render partial: "posts/comment", collection: @post.comments
    // partialをつける場合はcollectionをつける
    // 変数は部分テンプレートの名前と同じ

%div
  = form_for [@post, @comment], remote: true do |f|
    %h4 Write a comment
    = f.label :nickname
    = f.text_field :nickname, id: "nickname_field"
    = f.label :comment
    = f.text_area :comment, id: "comment_field"
    = f.submit :comment
